<a href="/">&lt; Terug</a>

<h1>DETAIL</h1>


Title: {{ kunstObject.artObject.title }}
<img src="{{ kunstObject.artObject.webImage.url }}" alt= "{{ kunstObject.artObject.title }}">
<p>{{ kunstObject.artObject.description }}</p> 

<ul>
{{#each kunstObject.artObject.objectTypes}}
    <li>{{ this }}</li>
{{/each}}
</ul>