{{> header}}

{{#if kunstObjectenLijst.length}}
<ul class="kunstobjecten-lijst">

  {{#each kunstObjectenLijst}}

    <li class="kunstobject">
      <h3>{{this.title}}</h3>
      <a href="/kunstobject/{{ this.objectNumber}}">
        <div href="/kunstobject/{{ this.objectNumber}}" class="kunstobject__image">
          <img src="{{ this.webImage.url }}" alt="">
        </div>
      </a>
    </li>

  {{/each}}

  {{else}}
  <p>No results found</p>
  {{/if}}

  

</ul>